<ng-container *ngIf="obsInitial$ | async as obsInitial; else loading">
  <mat-tab-group
    mat-stretch-tabs
    [backgroundColor]="focusedTab.headerBackgroundColor"
    (selectedIndexChange)="onSelectedIndexChange($event)"
    style="height: 100%"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="material-icons">person</span>Participants
      </ng-template>
      <div class="mat-tab-content" [ngStyle]="{ 'background-color': focusedTab.backgroundColor }">
        <app-bill-participants
          [participants]="obsInitial.participants$"
          (participantsChanges)="onParticipantsChanges($event)"
        ></app-bill-participants>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="material-icons">add_shopping_cart</span> Dépenses
      </ng-template>
      <div class="mat-tab-content" [ngStyle]="{ 'background-color': focusedTab.backgroundColor }">
        <app-bill-spendings
          [spendings]="obsInitial.spendings$"
          [participants]="obsInitial.participants$"
          (spendingsChanges)="onSpendingsChanges($event)"
        ></app-bill-spendings>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="material-icons">account_balance</span> Comptes
      </ng-template>
      <div
        *ngIf="obsRes$ | async as obsRes"
        class="mat-tab-content"
        [ngStyle]="{ 'background-color': focusedTab.backgroundColor }"
      >
        <app-bill-shares
          [shares]="obsRes.shares$"
          [participants]="obsRes.participantsRecord$"
        ></app-bill-shares>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #loading> Loading... </ng-template>
