<ng-container *ngIf="obsInitial$ | async as obsInitial; else loading">
  <mat-tab-group
    mat-stretch-tabs
    [(selectedIndex)]="tabSlectedIndex"
    [backgroundColor]="focusedTab.headerBackgroundColor"
    (selectedIndexChange)="onSelectedIndexChange($event)"
    style="height: 100%"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="material-icons" data-cy="tab-title">person</span>Participants
      </ng-template>
      <div class="mat-tab-content" [ngStyle]="{ 'background-color': focusedTab.backgroundColor }">
        <app-bill-participants
          data-cy="component-participants"
          [participants]="obsInitial.participants$"
          (participantsChanges)="onParticipantsChanges($event)"
        ></app-bill-participants>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="material-icons" data-cy="tab-title">add_shopping_cart</span> Dépenses
      </ng-template>
      <div class="mat-tab-content" [ngStyle]="{ 'background-color': focusedTab.backgroundColor }">
        <app-bill-spendings
          data-cy="component-spendings"
          [spendings]="obsInitial.spendings$"
          [participants]="obsInitial.participants$"
          (spendingsChanges)="onSpendingsChanges($event)"
        ></app-bill-spendings>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="material-icons" data-cy="tab-title">account_balance</span> Comptes
      </ng-template>
      <div class="mat-tab-content" [ngStyle]="{ 'background-color': focusedTab.backgroundColor }">
        <app-bill-shares
          data-cy="component-balance"
          [shares]="(obsRes$ | async)?.shares$"
          [participants]="(obsRes$ | async)?.participantsRecord$"
        ></app-bill-shares>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #loading> Loading... </ng-template>
