mat-form-field {
  &.w24 {
    width: 24px;
  }

  &.w32 {
    width: 32px;
  }

  &.w40 {
    width: 40px;
  }

  &.w64 {
    width: 64px;
  }

  &.w80 {
    width: 80px;
  }

  &.w104 {
    width: 104px;
  }

  &.w120 {
    width: 120px;
  }

  &.w136 {
    width: 136px;
  }

  &.w160 {
    width: 160px;
  }
}
